<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en-us" class="no-js">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>FinanPlus</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="#">
        <meta name="keywords" content="">
        <meta name="author" content="#">
        <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" th:href="@{/css/styleError.css}">
    </head>
    <body>        
        <canvas id="dotty"></canvas>
        <a href="index.html#" class="logo-link" title="back home">
            <img src="../img/logo.png" width="150" alt="logo.png">
        </a>
        <div class="content">
            <div class="content-box">
                <div class="big-content">
                    <div class="list-square">
                        <span class="square"></span>
                        <span class="square"></span>
                        <span class="square"></span>
                    </div>
                    <div class="list-line">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <div class="clear"></div>
                </div>
                <h1>Oops! Error 405 Method Not Allowed.</h1>
            </div>
        </div>
        <footer class="light">
            
        </footer>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/mozaic.js}"></script>
    </body>
</html>