<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:security="http://www.springframework.org/security/tags" lang="es"
	class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
	>
    <head>
		<th:block th:replace="fragments/header :: headlayout"></th:block>
        <script type="text/javascript" src="../js2/listPurchaseOrder.js"></script>
    </head>
        
    <body themebg-pattern="pattern4">
       
<!--/////////////////////////////////////////////////-->
    <th:block th:replace="fragments/theme_loader :: theme_loader"></th:block>
<!--/////////////////////////////////////////////////-->
       
        <div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" fream-type="theme1" sidebar-img="false" sidebar-img-type="img1" layout-type="light">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
 <!--/////////////////////////////////////////////////-->
        <th:block th:replace="fragments/nav :: nav_notification"></th:block>
 <!--/////////////////////////////////////////////////-->
        <div id="sidebar" class="users p-chat-user showChat"></div>                                        
        <div id="showChatContent" class="showChat_inner"></div>
        <div class="pcoded-main-container" style="margin-top: 56px;">
        <div class="pcoded-wrapper">
        
        <nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed">
        <div class="pcoded-inner-navbar main-menu mCustomScrollbar _mCS_1" style="height: calc(100% - 80px);">
        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical_horizontal mCSB_inside" tabindex="0">
                                    
        </div>
        </div>
        </nav>
        
        <div class="pcoded-content">
        <div class="pcoded-inner-content">                                
        <div class="main-body">
        <div class="page-wrapper">       
                                     
        <div class="page-header">
        <div class="row align-items-end">
        <div class="col-lg-8">
        <div class="page-header-title">
        
        <div class="d-inline">
        <h4>Bandeja de Entrada Compras</h4>
        </div>
        </div>
        </div>
        </div>
        </div>          
                              
        <div class="page-body">
        <div class="row">
        <div class="col-sm-12">  
                                                  
        <div class="card">
        <div class="card-header">
       
        <div class="card-header-right">
        <i class="icofont icofont-spinner-alt-5"></i>
        </div>
        </div>
        
        <div class="card-block">
		<div class="column" align="right">

		<a href="/createpurchaseorder" style="margin-right: 5px;"
		title="Crear solicitud1 de orden de compra"><i
		class="fa fa-plus-square agregaryasignar"
		style="font-size: 50px"></i></a>
        </div>
        
		<div class="dt-responsive table-responsive">
		<strong > </strong>
		<input type="hidden" id="username" th:value="${roleUser}">
		<input type="hidden" id="usernameUser" th:value="${username}">
	
        <table id="listPurchaseOrder" class="table table-striped table-bordered nowrap">
        <thead class="">
        <tr>
        <th>Lote</th>
        <th>Fecha</th>
        <th>Status</th>
        <th># Plastico</th>
        <th>Descripción de orden</th>
        <th colspan="4" class="ver">Acciones</th>
		<th style="display: none;"></th>
		<th style="display: none;"></th>
		<th style="display: none;"></th>
		</tr>
        </thead>
        <tbody>
                                                                  
        </tbody>
        </table>
        
        </div>
        </div>
        </div>
        </div>                                                
        </div>
        </div>
        </div>
        <div id="styleSelector"></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
      <th:block th:replace="fragments/footer_js :: footer_js"></th:block>
    </body>
</html>