<!-- Tab 2 -->
																      	<div class="step-tab-panel" id="tab2">
																            <div class="page-body">
									                                        	<div class="row">
									                                            
									                                                <!-- Card 1 -->
									                                            	<div class="col-sm-4"> 
									                                            	                                           
									                                                	<div class="card">                                                   
									                                                    	<div class="card-block cardlimit">
									                                                    		<!-- Titulo de Card -->
									                                                        	<h4 class="sub-title">Información de Zona</h4>
									                                                        	
									                                                        	<!-- Row -->                                                        	
									                                                        	<div class="row">
									                                                        		
									                                                        		<!-- Contenido de Card -->  
									                                                        		<div class="col-sm-12">
										                                                                <label class="col-sm-12 col-form-label">Código de Zona</label>
										                                                                <div class="col-sm-12">
										                                                                    <input type="text" id="txtCodigo_zona" class="form-control" placeholder="Codigo" disabled>
										                                                                </div>
									                                                            	</div>
									                                                            
										                                                            <div class="col-sm-12 mobile-inputs">
										                                                                <label class="col-sm-12 col-form-label">Tipo Zona</label>
										                                                                <div class="col-sm-12">
											                                                                <select name="select" id="cboxTipo_zona" class="form-control">
											                                                                    <option value="Recibo">Recibo</option>
											                                                                    <option value="Almacenaje">Almacenaje</option>
											                                                                    <option value="Almacenaje Restringido">Almacenaje Restringido</option>
											                                                                    <option value="Despacho">Despacho</option>
											                                                                </select>
										                                                         		</div>
										                                                            </div>
										                                                            
										                                                            <div class="col-sm-12 mobile-inputs">
										                                                            	<label class="col-sm-12 col-form-label">Descripción Zona</label>
										                                                            	<div class="col-sm-12">
										                                                                    <input type="text" id="txtDescripcion_zona" class="form-control" placeholder="">
										                                                                </div>
										                                                            </div>	                                                        	
										                                                            
										                                                            <div class="col-sm-12 mobile-inputs">
										                                                                <label class="col-sm-12 col-form-label">Encargado de Zona</label>
										                                                                <div class="col-sm-12">
											                                                                <select name="select" id="cboxEncargado_zona" class="form-control">
											                                                                    <option value="Elon Musk">Elon Musk</option>
											                                                                    <option value="Einstein">Einstein</option>
											                                                                    <option value="Jack Ma">Jack Ma</option>
											                                                                </select>
										                                                         		</div>
										                                                            </div>
										                                                            <!-- Contenido de Card -->  
										                                                            
									                                                        	</div>
									                                                        	<!-- Row -->                                                      		                                                        	
									                                                                                                      
									                                                    	</div>
									                                                	</div> 
									                                            	                                
										                                            </div>
										                                            <!-- Card 1 -->
										                                                    
										                                		</div>
										                                	</div>
																		</div>	
																		<!-- Tab 2 -->						