<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <th:block th:replace="fragments/header :: headlayout"></th:block>		    
		
        <script th:src="@{/js2/js.almacen/configuration/zona_nuevo-editar.js}"></script>	    
		<link rel="stylesheet" type="text/css" th:href="@{/css2/css.almacen/GeneralForm.css}">
		<script th:src="@{/js2/js.inventario/inventario_zona.js}"></script>	
	    <!-- DataTables -->
	    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.min.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap4.min.css}">	
    </head>
    <body themebg-pattern="pattern4">
    		<!--/////////////////////////////////////////////////-->
            <th:block th:replace="fragments/theme_loader :: theme_loader"></th:block>
            <!--/////////////////////////////////////////////////-->
        
        <div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" fream-type="theme1" sidebar-img="false" sidebar-img-type="img1" layout-type="light">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
            <!--/////////////////////////////////////////////////-->
            <th:block th:replace="fragments/nav :: nav_notification"></th:block>
            <!--/////////////////////////////////////////////////-->
             
                <div id="sidebar" class="users p-chat-user showChat"></div>                                        
                <div id="showChatContent" class="showChat_inner"></div>
                <div class="pcoded-main-container" style="margin-top: 56px;">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed">
                            <div class="pcoded-inner-navbar main-menu mCustomScrollbar _mCS_1" style="height: calc(100% - 80px);">
                                <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical_horizontal mCSB_inside" tabindex="0">
                                    
                                </div>
                            </div>
                        </nav>
                        <div class="pcoded-content">
                            <div class="pcoded-inner-content">
                                <div class="main-body">
                                	<div class="page-wrapper">                                    
                                        <div class="page-header">
                                            <div class="row align-items-end">
                                                <div class="col-lg-4">
                                                    <div class="page-header-title">
                                                        <div class="d-inline">
                                                            <h2>Inventario Zona</h2>                                                            
                                                        </div>
                                                    </div>
                                                </div>                                                
                                        	</div>
                                   		</div>
                                    </div>
                                    <div class="page-wrapper">
                                        <div class="page-body">
                                        
                                        	<!-- Row General -->
                                            <div class="row">
                                            
                                            	<div class="col-sm-12 botonera botonera2" style="margin-bottom:30px">                                            			                                       		
		                                       		
			                                   		<button type="button" id="btnCancelar_zona" class="btn btn-primary btn-md waves-effect text-center mb-20">
			                                   			Atras
			                                   		</button>
		                                   		
                                            	</div>	                                            	
                                            	
                                            	<!-- Card 1 -->
                                            	<div class="col-sm-4"> 
                                            	                                           
                                                	<div class="card">                                                   
                                                    	<div class="card-block cardlimit">
                                                    		<!-- Titulo de Card -->
                                                        	<h4 class="sub-title">Información de Zona</h4>
                                                        	
                                                        	<!-- Row -->                                                        	
                                                        	<div class="row">
                                                        		
                                                        		<!-- Contenido de Card -->  
                                                        		<div class="col-sm-12">
	                                                                <label class="col-sm-12 col-form-label">Código de Zona</label>
	                                                                <div class="col-sm-12">
	                                                                    <input type="text" id="txtCodigo_zona" class="form-control" placeholder="Codigo" disabled>
	                                                                </div>
                                                            	</div>
                                                            
	                                                            <div class="col-sm-12 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Tipo Zona</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cboxTipo_zona" class="form-control">
		                                                                    <option value="Recibo">Recibo</option>
		                                                                    <option value="Almacenaje">Almacenaje</option>
		                                                                    <option value="Almacenaje Restringido">Almacenaje Restringido</option>
		                                                                    <option value="Despacho">Despacho</option>
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            
	                                                            <div class="col-sm-12 mobile-inputs">
	                                                            	<label class="col-sm-12 col-form-label">Descripción Zona</label>
	                                                            	<div class="col-sm-12">
	                                                                    <input type="text" id="txtDescripcion_zona" class="form-control" placeholder="">
	                                                                </div>
	                                                            </div>	                                                        	
	                                                            
	                                                            <div class="col-sm-12 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Encargado de Zona</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cboxEncargado_zona" class="form-control">
		                                                                    <option value="Elon Musk">Elon Musk</option>
		                                                                    <option value="Einstein">Einstein</option>
		                                                                    <option value="Jack Ma">Jack Ma</option>
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            <!-- Contenido de Card -->  
	                                                            
                                                        	</div>
                                                        	<!-- Row -->                                                      		                                                        	
                                                                                                      
                                                    	</div>
                                                	</div> 
                                            	                                
	                                            </div>
	                                            <!-- Card 1 -->
	                                            
	                                            <!-- Card 2 -->
                                            	<div class="col-sm-8"> 
                                            	                                           
                                                	<div class="card">                                                   
                                                    	<div class="card-block cardlimit">
                                                    		<!-- Titulo de Card -->
                                                        	<h4 class="sub-title">Zonas Relacionadas</h4>
                                                        	
                                                        	<!-- Fila 1 -->                                      
                                                        	<div class="row">
                                                        		<div class="col-sm-12">
                                                        			<div class="dt-responsive table-responsive">
					                                                    <table id="simpletable" class="table table-striped table-bordered  display nowrap">
					                                                    
					                                                    	<thead>
																				<tr>
																					<th>Código de Zona</th>
																					<th>Tipo de Zona</th>
																					<th>Descripción</th>							                                                        
																					<th>Encargado</th>
																					<th>Acciones</th>
																				 </tr>
																			</thead>
																			<tbody>																			    
																			    
																			</tbody>
					                                                    
					                                                    </table>
				                                                   	</div>
                                                        		</div>                                                                                                                            
                                                        	</div>
                                                        	<!-- Fila 1 -->                                                   	
                                                        	                                                         
                                                    	</div>
                                                	</div> 
                                            	                                
	                                            </div>
	                                            <!-- Card 2 --> 	                                            
	                                            
	                                            <!-- Card 4 -->
                                            	<div class="col-sm-12"> 
                                            	                                           
                                                	<div class="card">                                                   
                                                    	<div class="card-block">
                                                    		<!-- Titulo de Card -->
                                                        	<h4 class="sub-title">Ordenes en Espera</h4>
                                                        	
                                                        	<!-- Fila 1 -->                                      
                                                        	<div class="row">
                                                        		<div class="col-sm-12">
	                                                        		
                                                        			<div class="dt-responsive table-responsive">
					                                                    <table id="simpletable1" class="table table-striped table-bordered display2 nowrap">
					                                                        <thead>
						                                                        <tr>
							                                                        <th>Código Orden</th>
							                                                        <th>Tipo</th>							                                                        
							                                                        <th>Acciones</th>						                                                        							                                                        
						                                                        </tr>						                                                        
					                                                        </thead>
					                                                        <tbody>
					                                                            <tr>
					                                                            	<td>1</td>
					                                                            	<td>Orden de Compra</td>
					                                                            	<td>
																			    		<a onclick="location.href = '/CBPult/Almacen/inventario_movimiento'">
																			    			<img alt="Editar" th:src="@{/img2/eye_on_see_show_view_vision_watch_icon_123215.ico}" width="30px">
																			    		</a>																			    		
																			    	</td>	                                                            	
					                                                            </tr>
					                                                            <tr>
					                                                            	<td>1</td>
					                                                            	<td>Transferencia</td>
					                                                            	<td>
																			    		<a onclick="location.href = '/CBPult/Almacen/inventario_movimiento'">
																			    			<img alt="Editar" th:src="@{/img2/eye_on_see_show_view_vision_watch_icon_123215.ico}" width="30px">
																			    		</a>																			    		
																			    	</td>	                                                            	
					                                                            </tr>		                                                            
					                                                        </tbody>
					                                                    </table>
				                                                   	</div>
                                                        		</div>                                                                                                                            
                                                        	</div>
                                                        	<!-- Fila 1 -->
                                                        	
                                                        	<!-- Fila 2 -->
                                                        	<div class="row">
                                                            	<!-- Contenido de la Fila -->
                                                        	</div>
                                                        	<!-- Fila 2-->                                                          
                                                    	</div>
                                                	</div> 
                                            	                                
	                                            </div>
	                                            <!-- Card 4 -->
	                                            
	                                            <!-- Card 4 -->
                                            	<div class="col-sm-12"> 
                                            	                                           
                                                	<div class="card">                                                   
                                                    	<div class="card-block">
                                                    		<!-- Titulo de Card -->
                                                        	<h4 class="sub-title">Historial de Movimientos</h4>
                                                        	
                                                        	<!-- Fila 1 -->                                      
                                                        	<div class="row">
                                                        		<div class="col-sm-12">
	                                                        		
                                                        			<div class="dt-responsive table-responsive">
					                                                    <table id="simpletable1" class="table table-striped table-bordered display2 nowrap">
					                                                        <thead>
						                                                        <tr>
							                                                        <th>Código Movimiento</th>
							                                                        <th>Tipo</th>							                                                        
							                                                        <th>Origen</th>
							                                                        <th>Destino</th>
							                                                        <th>Acciones</th>							                                                        							                                                        
						                                                        </tr>						                                                        
					                                                        </thead>
					                                                        <tbody>
					                                                            <tr>
					                                                            	<td>1</td>
					                                                            	<td>Traspaso</td>
					                                                            	<td>R1 (Esta Zona)</td>
					                                                            	<th>A1</th>
					                                                            	<td>
																			    		<a onclick="location.href = '/CBPult/Almacen/inventario_movimiento'">
																			    			<img alt="Editar" th:src="@{/img2/eye_on_see_show_view_vision_watch_icon_123215.ico}" width="30px">
																			    		</a>																			    		
																			    	</td>	                                                            	
					                                                            </tr>
					                                                            <tr>
					                                                            	<td>1</td>
					                                                            	<td>Traspaso</td>
					                                                            	<td>R1 (Esta Zona)</td>
					                                                            	<th>A1</th>
					                                                            	<td>
																			    		<a onclick="location.href = '/CBPult/Almacen/inventario_movimiento'">
																			    			<img alt="Editar" th:src="@{/img2/eye_on_see_show_view_vision_watch_icon_123215.ico}" width="30px">
																			    		</a>																			    		
																			    	</td>	                                                            	
					                                                            </tr>				                                                            
					                                                        </tbody>
					                                                    </table>
				                                                   	</div>
                                                        		</div>                                                                                                                            
                                                        	</div>
                                                        	<!-- Fila 1 -->
                                                        	
                                                        	<!-- Fila 2 -->
                                                        	<div class="row">
                                                            	<!-- Contenido de la Fila -->
                                                        	</div>
                                                        	<!-- Fila 2-->                                                          
                                                    	</div>
                                                	</div> 
                                            	                                
	                                            </div>
	                                            <!-- Card 4 -->
	                                            
	                                            <!-- Card 4 -->
                                            	<div class="col-sm-12"> 
                                            	                                           
                                                	<div class="card">                                                   
                                                    	<div class="card-block">
                                                    		<!-- Titulo de Card -->
                                                        	<h4 class="sub-title">Mercancias Zona</h4>
                                                        	
                                                        	<div class="row" style="margin-bottom: 10px">
                                                        	
                                                        		<div class="col-sm-4 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Almacén</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cbox_almacen" class="form-control" disabled>
		                                                                	
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            	                                                            
	                                                            <div class="col-sm-4 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Zona</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cbox_zona" class="form-control" disabled>
		                                                                	
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            
	                                                            <div class="col-sm-4 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Estantería</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cbox_estanteria" class="form-control">
		                                                                	<option value="Todas">Todas</option>
		                                                                </select>
	                                                         		</div>
	                                                            </div>
                                                        	</div>
                                                        	
                                                        	<!-- Fila 1 -->                                      
                                                        	<div class="row">
                                                        		<div class="col-sm-12">
	                                                        		
                                                        			<div class="dt-responsive table-responsive">
					                                                    <table id="simpletable" class="table table-striped table-bordered  display nowrap">
					                                                        <thead>
						                                                        <tr>
							                                                        <th>Código Producto</th>
							                                                        <th>Descripción</th>
							                                                        <th>Cantidad</th>							                                                        
						                                                        </tr>						                                                        
					                                                        </thead>
					                                                        <tbody>
					                                                            <tr>
					                                                            	<td>1</td>
					                                                            	<td>Terminales (POS) Hk37</td>
					                                                            	<td>275</td>					                                                            	
					                                                            </tr>
					                                                            <tr>
					                                                            	<td>2</td>
					                                                            	<td>Sim Cards Claro</td>
					                                                            	<td>322</td>					                                                            	
					                                                            </tr>
					                                                            <tr>
					                                                            	<td>2M</td>
					                                                            	<td>Sim Cards Movistar</td>
					                                                            	<td>275</td>					                                                            	
					                                                            </tr>
					                                                            <tr>
					                                                            	<td>3</td>
					                                                            	<td>Tarjetas</td>
					                                                            	<td>5000</td>					                                                            	
					                                                            </tr>					                                                            
					                                                        </tbody>
					                                                    </table>
				                                                   	</div>
                                                        		</div>                                                                                                                            
                                                        	</div>
                                                        	<!-- Fila 1 -->
                                                        	
                                                        	<!-- Fila 2 -->
                                                        	<div class="row">
                                                            	<!-- Contenido de la Fila -->
                                                        	</div>
                                                        	<!-- Fila 2-->                                                          
                                                    	</div>
                                                	</div> 
                                            	                                
	                                            </div>
	                                            <!-- Card 4 -->                                             
	                                            
	                                        </div>
	                                        <!-- Row General -->
	                                        
	                                    </div>	                                    
	                                    <div id="styleSelector"></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		<th:block th:replace="fragments/footer_js :: footer_js"></th:block>
    </body>
</html>
