<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <th:block th:replace="fragments/header :: headlayout"></th:block>
        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css2/css.almacen/GeneralForm.css}">
		<script type="text/javascript" th:src="@{/js2/js.inventario/relacion_almacen_consulta.js}"></script>
    </head>
    <body themebg-pattern="pattern4">
    		<!--/////////////////////////////////////////////////-->
            <th:block th:replace="fragments/theme_loader :: theme_loader"></th:block>
            <!--/////////////////////////////////////////////////-->
        
        <div id="pcoded" class="pcoded iscollapsed" nav-type="st6" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" pcoded-device-type="desktop" vertical-nav-type="expanded" vertical-effect="shrink" vnavigation-view="view1" fream-type="theme1" sidebar-img="false" sidebar-img-type="img1" layout-type="light">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
            <!--/////////////////////////////////////////////////-->
            <th:block th:replace="fragments/nav :: nav_notification"></th:block>
            <!--/////////////////////////////////////////////////-->
             
                <div id="sidebar" class="users p-chat-user showChat"></div>                                        
                <div id="showChatContent" class="showChat_inner"></div>
                <div class="pcoded-main-container" style="margin-top: 56px;">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar" navbar-theme="theme1" active-item-theme="theme1" sub-item-theme="theme2" active-item-style="style0" pcoded-navbar-position="fixed">
                            <div class="pcoded-inner-navbar main-menu mCustomScrollbar _mCS_1" style="height: calc(100% - 80px);">
                                <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical_horizontal mCSB_inside" tabindex="0">
                                    
                                </div>
                            </div>
                        </nav>
                        <div class="pcoded-content">
                            <div class="pcoded-inner-content">
                                <div class="main-body">
                                	<div class="page-wrapper">                                    
                                        <div class="page-header">
                                            <div class="row align-items-end">
                                                <div class="col-lg-4">
                                                    <div class="page-header-title">
                                                        <div class="d-inline">
                                                            <h2>Consultar Relación Almacén</h2>                                                            
                                                        </div>
                                                    </div>
                                                </div>                                                
                                        	</div>
                                   		</div>
                                    </div>
                                    <div class="page-wrapper">
                                        <div class="page-body">
                                        
                                        	<!-- Row General -->
                                            <div class="row">
                                            
                                            	<div class="col-sm-12 botonera botonera2" style="margin-bottom:30px">
                                            	
			                                   		<button type="button" id="btnAtras_relacion-almacen" class="btn btn-primary btn-md waves-effect text-center mb-20">
			                                   			Atras
			                                   		</button>
		                                   		
                                            	</div>	
                                            	
                                            	<!-- Card 1 -->
                                            	<div class="col-sm-6"> 
                                            	                                           
                                                	<div class="card">                                                   
                                                    	<div class="card-block">
                                                    		<!-- Titulo de Card -->
                                                        	<h4 class="sub-title">Información de Almacén Actual</h4>
                                                        	
                                                        	<!-- Row -->                                                        	
                                                        	<div class="row">
                                                        		
                                                        		<!-- Contenido de Card -->  
                                                        		<div class="col-sm-6">
	                                                                <label class="col-sm-12 col-form-label">Código de Almacén</label>
	                                                                <div class="col-sm-12">
	                                                                    <input type="text" id="txtCodigoActual_relacion-almacen" class="form-control" placeholder="Codigo" disabled>
	                                                                </div>
                                                            	</div>
                                                            
	                                                            <div class="col-sm-6 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Tipo Almacén</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cboxTipoActual_relacion-almacen" class="form-control" disabled>
		                                                                    <option value="ALMACEN">Almacén</option>
		                                                                    <option value="LABORATORIO">Laboratorio</option>
		                                                                    <option value="SUCURSAL">Sucursal</option>
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            
	                                                            <div class="col-sm-12 mobile-inputs">
	                                                            	<label class="col-sm-12 col-form-label">Nombre Almacén</label>
	                                                            	<div class="col-sm-12">
	                                                                    <input type="text" id="txtNameActual_relacion-almacen" class="form-control" placeholder="Nombre del Almacén" disabled>
	                                                                </div>
	                                                            </div>	
	                                                        	
	                                                        	<div class="col-sm-12">
	                                                                <label class="col-sm-12 col-form-label">Ubicación (Dirección)</label>
	                                                                <div class="col-sm-12">
	                                                                    <input type="text" id="txtUbicacionActual_relacion-almacen" class="form-control" placeholder="Dirección del Almacén" disabled>
	                                                                </div>
	                                                            </div>
	                                                            
	                                                            <div class="col-sm-12 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Gerente de Sucursal</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="txtGerenteActual_relacion-almacen" class="form-control" disabled>
		                                                                    <option value="Elon Musk">Elon Musk</option>
		                                                                    <option value="Einstein">Einstein</option>
		                                                                    <option value="Jack Ma">Jack Ma</option>
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            <!-- Contenido de Card -->  
	                                                            
                                                        	</div>
                                                        	<!-- Row -->                                                      		                                                        	
                                                                                                      
                                                    	</div>
                                                	</div> 
                                            	                                
	                                            </div>
	                                            <!-- Card 1 -->
	                                            
	                                            <!-- Card 2 -->
                                            	<div class="col-sm-6"> 
                                            	                                           
                                                	<div class="card">                                                   
                                                    	<div class="card-block">
                                                    		<!-- Titulo de Card -->
                                                        	<h4 class="sub-title">Información Almacén Destino</h4>
                                                        	
                                                        	<!-- Fila 1 -->                                      
                                                        	<div class="row">
                                                        	
                                                        		<!-- Contenido de Card -->  
                                                        		<div class="col-sm-6">
	                                                                <label class="col-sm-12 col-form-label">Código de Almacén</label>
	                                                                <div class="col-sm-12">
	                                                                    <input type="text" id="txtCodigoDest_relacion-almacen" class="form-control" placeholder="Codigo" disabled>
	                                                                </div>
                                                            	</div>
                                                            
	                                                            <div class="col-sm-6 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Tipo Almacén</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cboxTipoDest_relacion-almacen" class="form-control" disabled>
		                                                                    <option value="ALMACEN">Almacén</option>
		                                                                    <option value="LABORATORIO">Laboratorio</option>
		                                                                    <option value="SUCURSAL">Sucursal</option>
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            
	                                                            <div class="col-sm-12 mobile-inputs">
	                                                            	<label class="col-sm-12 col-form-label">Nombre Almacén</label>
	                                                            	<div class="col-sm-12">
	                                                                    <input type="text" id="txtNameDest_relacion-almacen" class="form-control" placeholder="Nombre del Almacén" disabled>
	                                                                </div>
	                                                            </div>	
	                                                        	
	                                                        	<div class="col-sm-12">
	                                                                <label class="col-sm-12 col-form-label">Ubicación (Dirección)</label>
	                                                                <div class="col-sm-12">
	                                                                    <input type="text" id="txtUbicacionDest_relacion-almacen" class="form-control" placeholder="Dirección del Almacén" disabled>
	                                                                </div>
	                                                            </div>
	                                                            
	                                                            <div class="col-sm-12 mobile-inputs">
	                                                                <label class="col-sm-12 col-form-label">Gerente de Sucursal</label>
	                                                                <div class="col-sm-12">
		                                                                <select name="select" id="cboxGerenteDest_relacion-almacen" class="form-control" disabled>		                                                                    
		                                                                    <option value="Einstein">Einstein</option>
		                                                                    <option value="Elon Musk">Elon Musk</option>
		                                                                    <option value="Jack Ma">Jack Ma</option>
		                                                                </select>
	                                                         		</div>
	                                                            </div>
	                                                            <!-- Contenido de Card -->   
	                                                                                                                                                                                      
                                                        	</div>
                                                        	<!-- Fila 1 -->                                                   	
                                                        	                                                         
                                                    	</div>
                                                	</div> 
                                            	                                
	                                            </div>
	                                            <!-- Card 2 -->
	                                            
	                                        </div>
	                                        <!-- Row General -->
	                                        
	                                    </div>	                                    
	                                    <div id="styleSelector"></div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
		
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.slimscroll.js}"></script>
        <script type="text/javascript" th:src="@{/js/modernizr.js}"></script>
        <script type="text/javascript" th:src="@{/js/Chart.js}"></script>
        <script type="text/javascript" th:src="@{/js/amcharts.js}"></script>
        <script type="text/javascript" th:src="@{/js/serial.js}"></script>
        <script type="text/javascript" th:src="@{/js/light.js}"></script>
        <script type="text/javascript" th:src="@{/js/SmoothScroll.js}"></script>
        <script type="text/javascript" th:src="@{/js/pcoded.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/vartical-layout.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/custom-dashboard.js}"></script>
        <script type="text/javascript" th:src="@{/js2/script.min2.js}"></script>

        <script type="text/javascript" th:src="@{/js/css-scrollbars.js}"></script>
        <script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/dataTables.buttons.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/jszip.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/pdfmake.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/vfs_fonts.js}" type="text/javascript"></script>
        <script th:src="@{/js/buttons.print.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/buttons.html5.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/dataTables.bootstrap4.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/dataTables.responsive.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/responsive.bootstrap4.min.js}" type="text/javascript"></script>

        <script type="text/javascript" th:src="@{/js/i18next.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/i18nextXHRBackend.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/i18nextBrowserLanguageDetector.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery-i18next.min.js}"></script>

        <script th:src="@{/js/data-table-custom.js}" type="text/javascript"></script>
        <script th:src="@{/js/pcoded.min.js}" type="text/javascript"></script>
    </body>
</html>
