<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	    <title>FinanPlus</title>
        <meta charset="utf-8">
		<meta http-equiv="Expires" content="0">
  	    <meta http-equiv="Last-Modified" content="0">
		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
		<meta http-equiv="Pragma" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="#">
        <meta name="keywords" content="">
        <meta name="author" content="#">
        <link rel="icon" th:href="@{/img/favicon.ico}"  type="image/x-icon">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:400,600,800}" >
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/themify-icons.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/icofont.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
        <script type="text/javascript" th:src="@{/js2/index.js}"></script>
       

</head>
    <body class="fix-menu">
        <div class="theme-loader">
            <div class="ball-scale">
                <div class='contain'>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                    <div class="ring"><div class="frame"></div></div>
                </div><br>
                <div class="text-center">
                    <img th:src="@{/img/logo_orange.png}" width="60" alt="logo.png">
                </div>
            </div>
        </div>
        <section class="login-block" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    <form class="md-float-material form-material">
                        <div class="text-center">
                            <img th:src="@{/img/logo.png}" alt="logo.png">
                            <br>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                        <a href="/CBPult/login" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-support"></i> Welcome </a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </section>
        <script  th:src="@{js/jquery.min.js}" type="text/javascript"></script>
        <script type="text/javascript" th:src="@{js/jquery-ui.min.js}"></script>
        <script type="text/javascript" th:src="@{js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery.slimscroll.js}"></script>
        <script type="text/javascript" th:src="@{js/modernizr.js}"></script>
        <script type="text/javascript" th:src="@{js/css-scrollbars.js}"></script>
        <script type="text/javascript" th:src="@{js/i18next.min.js}"></script>
        <script type="text/javascript" th:src="@{js/i18nextXHRBackend.min.js}"></script>
        <script type="text/javascript" th:src="@{js/i18nextBrowserLanguageDetector.min.js}"></script>
        <script type="text/javascript" th:src="@{js/jquery-i18next.min.js}"></script>
        <script type="text/javascript" th:src="@{js/common-pages.js}"></script>
        
</body>
</html>