h2{
	font-size: 40px;
	color: #00a4ac;
}

/* Cards */
.card{
	border: 2px solid #01a9ac;
}

.cardlimit{
	height: 390px;
	overflow: hidden;
}
/* Cards */
 
 
/* Botoneras Grandes */

.botonera .btn{
	width: 350px;
	height: 50px;
	font-size: 25px;
	float: right;
	margin-left: 20px;
}

.botonera2 .btn{
	width: 350px;
	height: 50px;
	font-size: 25px;
}




/* Botoneras Grandes */

/* TABLAS */

thead{
	background: #00a4ac;
	color: white;
}
	/* Botoneras Tablas */
	a img{
		transition: 0.3s;
	}
	
	a img:hover{
		background: #ffffff;
		width: 35px;
	}
	/* Botoneras Tablas */
/* TABLAS */
