h2{
	font-size: 40px;
	color: #00a4ac;
}

/* Cards */
.card-block{
	border: 2px solid #01a9ac;
}
/* Botoneras Grandes */

.botonera .btn{
	width: 300px;
	font-size: 25px;   			
}
  		
.botonera2 .btn{
	margin-left: 30px;
	float: right;
}

/* Botoneras Grandes */

/* TABLAS */

thead{
	background: #00a4ac;
	color: white;
}
	/* Botoneras Tablas */
	a img{
		transition: 0.3s;
	}
	
	a img:hover{
		background: #ffffff;
		width: 35px;
	}
	/* Botoneras Tablas */
/* TABLAS */



 /* Tarjetas */
.cardlimit{
	height: 390px;
	overflow: hidden;
}
 /* Tarjetas */	
 
 
