.input1{
    background: no-repeat scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    color: #BFBFBF;
    padding: 8px 25px;
}

.colones{
    position: absolute;
    top: 12%;
    left: 2.3%;
    color: black;
    font-size: 140%;
    font-family: Concert One;
}

.input2{
    background: no-repeat scroll 0 0 transparent;
    border: 1px solid #BFBFBF;
    color: #BFBFBF;
    padding: 8px 25px;
}

.colones2{
    position: absolute;
    top: 12%;
    left: 4.3%;
    color: black;
    font-size: 140%;
    font-family: Concert One;
}